body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    overflow: hidden;
    background-color: rgb(10, 10, 10);

    display: grid;
    place-items: center;
}

#wrapper {
    aspect-ratio: 1.618;
    width: 20vmin;
    position: static;
}

#wrapper>.shape {
    height: 30%;
    width: 30%;
    background-color: rgba(255 255 255 / 5%);
    opacity: 30%;
    position: absolute;
    transition: left, top, height, width, border-radius;
    transition-duration: 750ms;
    transition-timing-function: ease-in-out;
}

#wrapper>.shape:nth-child(1) {
    background-color: rgb(176, 190, 197);
}

#wrapper>.shape:nth-child(2) {
    background-color: rgb(245, 245, 245);
}

#wrapper>.shape:nth-child(3) {
    background-color: rgb(155, 93, 229);
}

#wrapper>.shape:nth-child(4) {
    background-color: rgb(241, 91, 181);
}

#wrapper>.shape:nth-child(5) {
    background-color: rgb(254, 228, 64);
}

#wrapper>.shape:nth-child(6) {
    background-color: rgb(0, 187, 249);
}

#wrapper>.shape:nth-child(7) {
    background-color: rgb(0, 245, 212);
}

#wrapper[data-roundness="1"]>.shape {
    border-radius: 6rem;
}

#wrapper[data-roundness="2"]>.shape {
    border-radius: 0rem;
}